<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<style>


.yes {
  width: 50%;
  float: center;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  height: 400px;
}

.no{
    width: 200px;
}

</style>

<body>

<main>
  <form action= "http://localhost:3000/login" method = "POST">
    <!-- user input-->
    <h2>Login Here....</h2>
    Username:<br>
    <input type="text" name="usname" placeholder="Username" required><br><br>
    Password:<br> 
    <input type="password" name="psd" placeholder="Password" required><br><br>
    <!-- submit button -->
    <input type="submit" value="Login">

  </form>
  
</main>
</body>
<%- include('../includes/end.ejs') %>